
<div class="box panel product-search p15 fl panel-default">
  <p class="productList-item-pic w200 h200">

 <%= link_to product_path(product) do %>
   <% if product.image.present? %>
     <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
   <% else %>
     <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
   <% end %>
 <% end %>
 </p>

<!---先隐藏购物车按钮---->
<!-- <div class="fig" >
  <p class="actions">
    <% if product.quantity.present? && product.quantity > 0 %>
      <%= link_to add_to_cart_product_path(product), class: "add-to-cart", :remote => true, :method => :post do %>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <% end %>
    <% else %>
      已销售一空，无法购买
    <% end %> -->
  <!---end---->

  <div class="panel-body" style="padding:5px;">

      <p class="productList-item-price fb col-red f18 mt10">￥<%= product.price %>
        <p class="productList-item-name ell">
    <%= link_to product_path(product) do %>
       <%= product.title %>
    <% end %>
      <span class="pull-right">
        <% if user_signed_in? %>
          <% if !current_user.is_favorite_of?(product) %>
            <%= link_to favorite_product_path(product), :class => "like ",  method: :post do %>
              <i class="fa  fa-star-o fa-lg"></i>
            <% end %>
          <% else %>
            <%= link_to unfavorite_product_path(product), :class => "unlike ",method: :post do %>
              <i class="fa  fa-star fa-lg"></i>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to favorite_product_path(product), :class => "like ",  method: :post do %>
            <i class="fa fa-heart fa-lg"></i>
          <% end %>
        <% end %>
      </span>

  </div>
</div>
