<div class="product-box">
  <div class="container">
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1ffuhhtktdvj30vy0eita0.jpg">
      </div>
    </div>
    <!--排序-->
    <div class="order clearfix mt30 w1200 bc">
      <p class="fl title pl20 pr20">商品排序：</p>
      <ul class="fl orderList">
        <li class="fl orderList-orderItem pl20 pr20"><%= link_to("新品", products_path) %></li>
        <li class="fl orderList-orderItem pl20 pr20 "><%= link_to("价格", products_path(:order => "by_product_price")) %></li>
        <li class="fl orderList-orderItem pl20 pr20 ">  <%= link_to("人气", products_path(:order => "by_fans")) %></li>
      </ul>
    </div>
  
   <!--end-->

   <!-- 为了与搜索反馈页面样式一致，因此类命名业余其一致，未重新修改-->
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-xs-6 col-md-3 product-content">
            <div class="minHeight1000 bg-gray">
              <div class="box panel product-search p15 fl panel-default">
                <p class="productList-item-pic w200 h200">

               <%= link_to product_path(product) do %>
                 <% if product.image.present? %>
                   <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                 <% else %>
                   <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                 <% end %>
               <% end %>
               </p>

                <div class="panel-body" style="padding:5px;">

                    <p class="productList-item-price fb col-red f18 mt10">￥<%= product.price %>
                      <p class="productList-item-name ell">
                  <%= link_to product_path(product) do %>
                     <%= product.title %>
                  <% end %>
                    <span class="pull-right">
                        <%= link_to add_to_cart_product_path(product),   method: :post do %>
                          <i class="fa fa-shopping-cart"></i>
                        <% end %>
                    </span>

                </div>
              </div>
        </div>
      </div>


        <% end %>
      </div>


   <!-- 分页样式 -->
     <div class="page-box">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails, :previous_label => t('previous-label'), :next_label => t('next-label') %>
    </div>
  </div>
</div>
