<div class="product-box">
  <div class="container">
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1ffuhhtktdvj30vy0eita0.jpg">
      </div>
    </div>
    <!--排序下拉菜单-->
    <div class="dropdown clearfix pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        商品排序
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("上架时间", products_path ) %>
        </li>
        <li>
          <%= link_to("价格", products_path(:order => "by_product_price")) %>
        </li>
        <li>
            <%= link_to("人气", products_path(:order => "by_product_quantity")) %>
        </li>

      </ul>
   </div>
   <!--end-->
    <div class="productList-wrap mt30 bc">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-xs-6 col-md-3 product-content">
            <%= link_to product_path(product) do %>
              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
            <div class="product-info">
              <p>  <%= link_to(product.title , product_path(product)) %></p>
              <p>$ <%= product.price %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

   <!-- 分页样式 -->
    <div class="page-box">
      <ul class="pagination">
        <li class="prev"><a rel="prev" href="/products?page=1"><span class="fa fa-angle-left"></span></a></li>
        <li><a rel="prev" href="/products?page=1">1</a></li>
        <li><a rel="prev" href="/products?page=2">2</a></li>
        <li class="next"><a rel="next" href="/products?page=2"><span class="fa fa-angle-right"></span></a></li>
      </ul>
    </div>
  </div>
</div>
