<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <a class="navbar-left" href="/"><img src='https://ws4.sinaimg.cn/large/006tNc79gy1fft698seu5j301e01fweg.jpg'  class="nav-logo"></a>
        </div><!-- navbar logo --->

        <!-- 首页按钮-->
        <div class="nav navbar-nav navbar-left">
          <li><%= link_to("首页", "/") %><li>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

           <!-- 购物车 注册／登陆-->
            <ul class="nav navbar-nav navbar-right">
               <li>
                 <%= link_to carts_path do  %>
                     购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
                  <% end %>
               </li>
                <li>
                  <% if !current_user %>
                  <li><%= link_to("注册", new_user_registration_path) %> </li>
                  <li><%= link_to("登入", new_user_session_path) %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.display_name %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "个人中心", account_users_path(current_user) %></li>
                      <%if current_user && current_user.admin?%>
                      <li> <%= link_to("Admin panel", admin_products_path) %> </li>
                      <% end %>
                      <li>
                        <%= link_to("个人订单列表", account_orders_path) %>
                      </li>
                      <li> <%= link_to(content_tag(:i, " 我的收藏", class: "fa fa-gratipay"), favorites_path ) %></li>
                      <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
                <% end %>
                </li>
            </ul>

           <div class="nav navbar-nav navbar-left">
             <li><%= link_to("我们的故事", "#") %><li>
           </div>
           <!-- 分类按钮 -->
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">分类<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                 <% Category.all.each do |category| %>
                   <li>
                    <%= link_to(category.name, products_path(category: category.name)) %>
                  </li>
                <% end %>
               </ul>
              </li>
           </ul>
           <!-- end -->

            <!--搜索框-->
            <ul class="nav navbar-nav">
              <li>
                <%= form_tag search_products_path, :class => "products-search-form", :method => :get do %>
                  <div class="input-group">
                    <input type="text" class="form-control search-bar-input" name="q" value="<%= params[:q] %>" placeholder="商品，描述...">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default search-bar-submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                <% end %>
              </li>
            </ul>
            <!--end -->

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
